# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.idea/
.vscode/

# Project files
.DS_Store
*.log
logs/
*.pot
*.py[cod]
.env
local_crawler.py
README.md
requests/
notebooks/
ARCHIVE/
tests/
frontend/
node_modules/
package.json
package-lock.json
k8s/
monitoring/
docs/
scripts/
config/site_configs/
config/logging_config.json
config/rate_limit_config.json
pyproject.toml
poetry.lock
Makefile
*.md
mypy.ini
nginx/
LICENSE
production.env
server_setup.sh
.github/
.gitlab-ci.yml
*.html
*.json
!requests/pages/*.json
!monitoring/grafana_dashboards/*.json 